

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Customer</h2>
@if (@Model.Count == 0)
{
    <h2>No hay Customers</h2>
}
else
{
    <table class="table table-hover">

        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name </th>
                <th scope="col">Discount Rate </th>
                <th scope="col">Action </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var customer in @Model)
            {
                <tr class="table-active">

                    <td>@customer.Id</td>
                    <td>@customer.Name</td>
                    <td> @customer.MembershipType.DiscountRate%</td>


                    <td><a href="customer/@customer.Id">View</a></td>
                </tr>
            }
        </tbody>

    </table>
}
